<div class="row">

    <div class="col-md-6 overview-area">

        <div class="panel panel-primary">

            <div class="panel-heading">Σχολεία
                <button class="btn btn-xs btn-default" ng-click="$ctrl.addSchool()" title="Νέο σχολείο">
                        <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>

            <div class="panel-body" ng-if="!$ctrl.showSchools()">
                <div class="overview-msg">Δεν έχει εισαχθεί κανένα σχολείο</div>
            </div>

            <img src="images/loader.png" ng-hide="$ctrl.schoolsResolved()" class="center-block loader-medium" />

            <table class="table" ng-if="$ctrl.showSchools()">
                <tbody>
                    <tr class="clickable" ng-repeat="school in $ctrl.overviewCtrl.schools" focus-and-select 
                        school-control="school" schools="$ctrl.overviewCtrl.schools"
                        ng-click="$ctrl.setActiveSchool(school)" 
                        ng-class="{ 'active': $ctrl.isActiveSchool(school)}">
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
