<div>
    <div ng-if="!ctrl.getSchool()" style="line-height: 20px; padding: 8px 15px; margin-bottom: 20px">&nbsp;</div>
    <ol class="breadcrumb" ng-if="$ctrl.getSchool()">
        <li ng-if="$ctrl.getSchool()"><a href ng-click="$ctrl.toSchool()">{{$ctrl.getSchool().name}}</a></li>
        <li ng-if="$ctrl.getDepartment()"><a href ng-click="$ctrl.toDepartment()">{{$ctrl.getDepartment().name}}</a></li>
        <li ng-if="$ctrl.getGroup()"><a href ng-click="$ctrl.toGroup()">{{$ctrl.getGroup().name}}</a></li>
        <li ng-if="$ctrl.getChildName()"><a href ng-click="$ctrl.toChild()">{{$ctrl.getChildName()}}</a></li>
    </ol>
</div>
