<div class="page-header">
    <h2>{{$ctrl.submitLabel}} σχέσης</h2>
</div>

<form class="form-horizontal well" role="form"  name="guardianForm"
        ui-keypress="{'enter':'submit()', 'esc':'toScopedChild()'}" novalidate>
    <input type="hidden" ng-model="$ctrl.guardian.id"/>
    <input type="hidden" ng-model="$ctrl.relationship.id"/>

    <fieldset>

        <div class="row">
            <div class="form-group">
                <label for="firstName" class="col-md-2 control-label">Όνομα</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="firstName" autocomplete="off" focus
                           ng-model="$ctrl.guardian.firstName"
                           uib-typeahead="firstName for firstName in $ctrl.typeaheads.getFirstNames($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500" typeahead-loading="loadingFirstNames"/>
                    <img src="../../images/loader.png" ng-show="loadingFirstNames" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="lastName" class="col-md-2 control-label">Επώνυμο</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="lastName" autocomplete="off"
                           ng-model="$ctrl.guardian.lastName" typeahead-loading="loadingLastNames"
                           uib-typeahead="lastName for lastName in $ctrl.typeaheads.getLastNames($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500"/>
                    <img src="../../images/loader.png" ng-show="loadingLastNames" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="dateOfBirth" class="col-md-2 control-label">Ημ/νία γεν.</label>
    
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" 
                            uib-datepicker-popup="dd-MM-yyyy"
                            ng-model="$ctrl.guardian.dateOfBirth" 
                            is-open="$ctrl.calendar.opened"
                            datepicker-options="$ctrl.calendar.dateOptions"
                            clear-text="Καθαρισμός"
                            close-text="Κλείσιμο"
                            current-text="Σήμερα"
                            readonly/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.calendar.open()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="form-group">
                <label for="gender" class="col-md-2 control-label">Φύλο</label>
    
                <div class="col-md-4">
                    <select class="form-control" id="gender" ng-model="$ctrl.guardian.gender">
                        <option value="MALE">Άνδρας</option>
                        <option value="FEMALE">Γυναίκα</option>
                    </select>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="form-group">
                <label for="nationality" class="col-md-2 control-label">Υπηκοότητα</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="nationality" autocomplete="off"
                           ng-model="$ctrl.guardian.nationality" typeahead-loading="loadingNationalities"
                           uib-typeahead="nationality for nationality in $ctrl.typeaheads.getNationalities($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500"/>
                    <img src="../../images/loader.png" ng-show="loadingNationalities" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="profession" class="col-md-2 control-label">Επάγγελμα</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="profession" autocomplete="off"
                           ng-model="$ctrl.guardian.profession" typeahead-loading="loadingProfession"
                           uib-typeahead="profession for profession in $ctrl.typeaheads.getProfessions($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500"/>
                    <img src="../../images/loader.png" ng-show="loadingProfession" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">E-mail</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control" id="email" ng-model="$ctrl.guardian.email" autocomplete="off"/>
                </div>
            </div>
        </div>

        <!-- Relationship section -->
        <div class="row">
            <div class="form-group" ng-class="{ 'has-error': guardianForm.relationship.$invalid}">
                <label for="relationship" class="col-md-2 control-label">Σχέση με το παιδί</label>
    
                <div class="col-md-4">
                    <select class="form-control" id="relationship" name="relationship" required ng-model="$ctrl.relationship.metadata.type"
                            ng-options="relationship|relationshipFilter for relationship in $ctrl.relationshipTypes">
                        <option value="">--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="notes" class="col-md-2 control-label">Σημειώσεις</label>
    
                <div class="col-md-4">
                    <textarea rows="3" class="form-control" id="notes" ng-model="$ctrl.relationship.metadata.notes">
                    </textarea>
                </div>
            </div>
        </div>
    </fieldset>

    <!-- Telephones section -->
    <telephones model="$ctrl.guardian.telephones" form="guardianForm"></telephones>
    
    <!-- Address section -->
    <input-address address="$ctrl.address" allow-copy="true"></input-address>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button class="btn btn-success" ng-click="$ctrl.submit()" ng-disabled="guardianForm.$invalid" >
                    Αποθήκευση
                </button>
                <button class="btn btn-primary" ng-click="$ctrl.cancel()">Άκυρωση</button>
            </div>
        </div>
    </div>
</form>
