<nav class="navbar navbar-default navbar-static-top navbar-inverse">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
                <strong>Kατάλογος</strong>
            </span>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">

            <ul class="nav navbar-nav">

                <li>
                    <a ui-sref="overview({root: true})">
                        <i class="fa fa-home" aria-hidden="true"></i> Επισκόπιση
                    </a>
                </li>

                <li ng-if="$ctrl.active.group" uib-dropdown>
                    <a href="#" role="button" aria-expanded="false" uib-dropdown-toggle>
                        <i class="fa fa-child" aria-hidden="true"></i> Tάξη <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" data-toggle="dropdown" role="menu" uib-dropdown-menu>
                        <li>
                            <a href ng-click="$ctrl.toGroup()">
                                <i class="fa fa-id-card" aria-hidden="true"></i> Κατάλογος παιδιών
                            </a>
                        </li>
                        <li>
                            <a ui-sref="createChild">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Νέο παιδί
                            </a>
                        </li>
                        <li>
                            <a href="api/overview/group/{{::$ctrl.active.group.id}}/emails" target="_blank">
                                <i class="fa fa-envelope" aria-hidden="true"></i>  email επικοινωνίας
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-if="$ctrl.active.group" uib-dropdown>
                    <a href="#" role="button" aria-expanded="false" uib-dropdown-toggle>
                        <i class="fa fa-print" aria-hidden="true"></i> Εκτυπώσεις <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" data-toggle="dropdown" role="menu" uib-dropdown-menu>
                        <li><a href="api/child/report/pdf/first?class={{$ctrl.active.group.id}}" target="_blank">Μικρά ονόματα</a></li>
                        <li><a href="api/child/report/pdf/full?class={{$ctrl.active.group.id}}" target="_blank">Ολόκληρα ονόματα</a></li>
                        <li><a href="api/child/report/pdf/smallTags?class={{$ctrl.active.group.id}}" target="_blank">Ταμπέλες ονομάτων (μικρές)</a></li>
                        <li><a href="api/child/report/pdf/bigTags?class={{$ctrl.active.group.id}}" target="_blank">Ταμπέλες ονομάτων (μεγάλες)</a></li>
                        <li><a href="api/communication/{{$ctrl.active.group.id}}?format=a4" target="_blank">Πίνακας Επικοινωνίας (A4)</a></li>
                        <li><a href="api/communication/{{$ctrl.active.group.id}}?format=a3" target="_blank">Πίνακας Επικοινωνίας (A3)</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown>
                    <a ng-href role="button" aria-expanded="false" uib-dropdown-toggle> {{::$ctrl.username}} <span class="caret"></span></a>
                    <div class="dropdown-menu" style="padding: 10px 20px 10px 20px">
                        <button type="button" class="btn btn-sm btn-warning" ng-click="$ctrl.logout()">Έξοδος</button>
                    </div>
                </li>
                <li>
                    <a ng-href role="button" aria-expanded="false" ng-click="$ctrl.revision()">
                        Σχετικά
                    </a>
                </li>
            </ul>

        </div>

    </div>

</nav>
