<img src="../../../images/loader.png" ng-hide="$ctrl.child.$resolved" class="loader-area"/>

<div ng-show="$ctrl.child.$resolved">

    
    <div class="page-header">
        <h2>{{::$ctrl.getChildName()}}<previous-next></previous-next>
        </h2>
    </div>
    
    <display-child child="$ctrl.child" address="$ctrl.address"></display-child>

    <fieldset>
        <legend>
            Σχέσεις <span class="badge" ng-if="$ctrl.relationships.length > 0">{{$ctrl.relationships.length}}</span>
            <img src="../../../images/loader.png" ng-hide="$ctrl.relationships.$resolved" class="loader-small"/>
        </legend>

        <div ng-show="$ctrl.relationships.$resolved">
            
            <div ng-if="$ctrl.relationships.length === 0" class="submessage">Δεν έχει εισαχθεί καμιά σχέση ακόμα</div>
        
            <table class="table" ng-if="$ctrl.relationships.length > 0">
                <thead>
                <tr>
                    <th>Όνομα</th>
                    <th>Ιδιότητα</th>
                    <th>Τηλέφωνο</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="relationship in $ctrl.relationships">
                    <td><a ui-sref="viewGuardian({guardianId: relationship.guardian.id})">
                            {{relationship.guardian.firstName}} {{relationship.guardian.lastName}}
                        </a>
                    </td>
                    <td>{{relationship.metadata.type | relationshipFilter}}</td>
                    <td>
                        <telephone model="relationship.guardian.telephones[0]"></telephone>
                    </td>
                    <td class="text-right">
                        <a class="btn btn-primary btn-xs" ui-sref="updateGuardian({guardianId: relationship.guardian.id})">
                            <span class="glyphicon glyphicon-edit"></span> Επεξεργασία
                        </a>
                        <button class="btn btn-danger btn-xs" ng-click="$ctrl.confirmRemoveRelationship(relationship, $event)">
                            <span class="glyphicon glyphicon-remove"></span> Διαγραφή
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            
        </div>
            
    </fieldset>
    
    <div style="padding-top: 1em">

        <a class="btn btn-md btn-primary" href="api/child/{{$ctrl.child.id}}/cards" role="button">
            <span class="glyphicon glyphicon-print"></span> Καρτέλες
        </a>
        <button class="btn btn-primary btn-md" ng-click="$ctrl.addGuardian()">
            <i class="fa fa-group" aria-hidden="true"></i> Νέα σχέση
        </button>
        <a class="btn btn-md btn-primary" ui-sref="updateChild({childId: $ctrl.child.id})">
            <span class="glyphicon glyphicon-edit"></span> Επεξεργασία
        </a>
        <button class="btn btn-md btn-danger" ng-click="$ctrl.confirmRemoveChild()">
            <span class="glyphicon glyphicon-remove"></span> Διαγραφή
        </button>
    </div>

</div>
