<div class="page-header">
    <h2>
        Κατάλογος παιδιών
        <span class="badge" ng-if="$ctrl.children.length > 0">{{$ctrl.children.length}}</span>
    </h2>
</div>

<img src="../../../images/loader.png" ng-hide="$ctrl.children.$resolved" class="loader-area"/>

<div ng-show="$ctrl.children.$resolved">

    <div ng-show="$ctrl.noChildren" class="submessage">
        Δεν έχει εισαχθεί κανένα παιδί ακόμα.
    </div>

    <table class="table table-striped table-hover" ng-hide="$ctrl.noChildren">
        <thead>
            <tr>
                <th class="child-list-col1">Όνομα</th>
                <th class="child-list-col2">Επώνυμο</th>
                <th class="child-list-col3">Τάξη</th>
                <th class="child-list-col4">Φύλο</th>
                <th class="child-list-col5">Σημειώσεις</th>
            </tr>
        </thead>
        <tbody ng-click="$ctrl.viewChild($event)">
            <tr ng-repeat="child in $ctrl.children" class="clickable">
                <td>{{::child|firstNameFilter}}</td>
                <td>{{::child.lastName}}</td>
                <td>{{::child.level|preSchoolLevelFilter}}</td>
                <td>{{::child.gender|childGenderTypeFilter}}</td>
                <td>
                    <i class="fa fa-file-image-o" aria-hidden="true" ng-if="child.photoId"></i>
                    &nbsp;
                    <i class="fa fa-info" aria-hidden="true" ng-if="child.notes" title="{{::child.notes}}"></i>
                    &nbsp;
                    <i class="fa fa-exclamation" aria-hidden="true" ng-if="child.privateNotes" title="Ιδιωτική σημείωση"></i>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <group-statistics></group-statistics>
                </td>
            </tr>
        </tfoot>
    </table>

</div>
