<td>
    <button type="button" class="btn btn-xs btn-link">
        <span ng-dblclick="$ctrl.edit()" ng-show="!$ctrl.editMode">{{$ctrl.department.name}}</span>
    </button>
    <input type="text" ng-model="$ctrl.department.name" ng-show="$ctrl.editMode"/>

    <div class="controls">
        <button class="btn btn-xs btn-primary" title="Επεξεργασία" ng-show="!$ctrl.editMode && !$ctrl.working" ng-click="$ctrl.edit()">
            <span class="edit"></span>
        </button>
        <button class="btn btn-xs btn-danger" title="Διαγραφή" ng-disabled="$ctrl.department.numberOfGroups"
                ng-show="!$ctrl.working && !$ctrl.editMode" ng-click="$ctrl.remove()">
            <span class="remove"></span>
        </button>
    </div>

    <button class="btn btn-xs btn-success" title="Αποθήκευση" ng-show="$ctrl.editMode" ng-click="$ctrl.update()">
        <span class="ok"></span>
    </button>
    <button class="cancel-link" title="Ακύρωση" ng-show="$ctrl.editMode" ng-click="$ctrl.cancel()">Άκυρο</button>

    <img src="../../../../images/loader.png" class="loader-small" ng-show="$ctrl.working"/>
</td>

