
<dl class="dl-horizontal">

    <dt>Όνομα</dt>
    <dd>{{::$ctrl.child.firstName}}&nbsp;</dd>

    <dt>Επώνυμο</dt>
    <dd>{{::$ctrl.child.lastName}}&nbsp;</dd>

    <dt ng-if="::$ctrl.child.callName">Χαϊδευτικό</dt>
    <dd ng-if="::$ctrl.child.callName">{{::$ctrl.child.callName}}&nbsp;</dd>

    <dt>Τάξη</dt>
    <dd>{{::$ctrl.child.level|preSchoolLevelFilter}}&nbsp;</dd>

    <dt ng-if="::$ctrl.child.dateOfBirth">Ημ/νία γέν.</dt>
    <dd ng-if="::$ctrl.child.dateOfBirth">{{::$ctrl.child.dateOfBirth | date:'dd-MM-yyyy'}}&nbsp;</dd>

    <dt ng-if="::$ctrl.child.gender">Φύλο</dt>
    <dd ng-if="::$ctrl.child.gender">{{::$ctrl.child.gender | childGenderTypeFilter}}&nbsp;</dd>

    <dt ng-if="::$ctrl.child.nationality">Υπηκοότητα</dt>
    <dd ng-if="::$ctrl.child.nationality">{{::$ctrl.child.nationality}}&nbsp;</dd>

    <dt ng-if="!$ctrl.isBlankAddress($ctrl.address)">Διεύθυνση</dt>
    <dd ng-if="!$ctrl.isBlankAddress($ctrl.address)">{{::$ctrl.address | addressFilter}} &nbsp; </dd>

</dl>
