<fieldset>

    <legend>

        <span class="clickable" ng-click="$ctrl.isAddressOpen = !$ctrl.isAddressOpen">Διεύθυνση</span>

        <span class="collapsable-close" aria-hidden="true" ng-click="$ctrl.isAddressOpen = !$ctrl.isAddressOpen" ng-show="$ctrl.isAddressOpen"></span>

        <span class="collapsable-open" aria-hidden="true" ng-click="$ctrl.isAddressOpen = !$ctrl.isAddressOpen" ng-show="!$ctrl.isAddressOpen"></span>

        <button class="btn btn-xs btn-default" ng-if="$ctrl.allowCopy" ng-show="$ctrl.isAddressOpen" ng-click="$ctrl.copyFromChild()">
            <span class="glyphicon glyphicon-share"></span> Αντιγραφή από το παιδί
        </button>

        <button class="btn btn-xs btn-warning" ng-show="$ctrl.isAddressOpen" ng-click="$ctrl.clear()">
            <span class="glyphicon glyphicon-alert"></span> Καθαρισμός
        </button>

    </legend>

    <input type="hidden" ng-model="$ctrl.address.id" />

    <div ng-show="$ctrl.isAddressOpen">

        <div class="row">
            <div class="form-group">
                <label for="address.streetName" class="col-md-2 control-label">Οδός</label>

                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="address.streetName" ng-model="$ctrl.address.streetName" autocomplete="off"
                        uib-typeahead="streetName for streetName in $ctrl.typeaheads.getStreetNames($viewValue)" typeahead-min-length="1"
                        typeahead-wait-ms="500" typeahead-loading="loadingStreetNames" />
                    <img src="/images/loader.png" ng-show="loadingStreetNames" class="loader-img" />
                </div>

                <label for="address.streetName" class="col-md-1 control-label">Αριθ.</label>

                <div class="col-md-2">
                    <input type="text" class="form-control" id="address.streetNumber" autocomplete="off" ng-model="$ctrl.address.streetNumber"
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="address.neighbourhood" class="col-md-2 control-label">Περιοχή</label>

                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="address.neighbourhood" ng-model="$ctrl.address.neighbourhood" autocomplete="off"
                        uib-typeahead="neighbourhood for neighbourhood in $ctrl.typeaheads.getNeighbourhoods($viewValue)" typeahead-min-length="1"
                        typeahead-wait-ms="500" typeahead-loading="loadingNeighbourhoods" />
                    <img src="/images/loader.png" ng-show="loadingNeighbourhoods" class="loader-img" />
                </div>

                <label for="address.postalCode" class="col-md-1 control-label">Τ.Κ.</label>

                <div class="col-md-2">
                    <input type="text" class="form-control" id="address.postalCode" ui-mask="999 99" ng-model="$ctrl.address.postalCode" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="address.city" class="col-md-2 control-label">Πόλη</label>

                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="address.city" ng-model="$ctrl.address.city" uib-typeahead="city for city in $ctrl.typeaheads.getCities($viewValue)"
                        typeahead-min-length="1" typeahead-wait-ms="500" typeahead-loading="loadingCities" autocomplete="off"
                    />
                    <img src="/images/loader.png" ng-show="loadingCities" class="loader-img" />
                </div>
            </div>
        </div>

    </div>

</fieldset>
