<!DOCTYPE html>
<html lang="en" ng-app="schoolApp" ng-strict-di>
    <head>
        <meta charset="utf-8"/>
        <title>Σχολικός κατάλογος</title>
    </head>
    
    <body>
        <navbar></navbar>
        <div class="container">
            <breadcrumb></breadcrumb>
            <ui-view></ui-view>
        </div>
    </body>
</html>
