<div class="row">

    <div class="col-md-6 overview-area">

        <div class="panel panel-primary">

            <div class="panel-heading">Τμήματα
                <button class="btn btn-xs btn-default" title="Νέο τμήμα" ng-click="$ctrl.addDepartment()" ng-disabled="!$ctrl.hasActiveSchool()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>

            <div class="panel-body" ng-if="!$ctrl.showDepartments()">
                <div class="overview-msg" ng-if="!$ctrl.hasActiveSchool()">
                    Επιλέξτε πρώτα σχολείο
                </div>

                <div class="overview-msg" ng-if="$ctrl.hasActiveSchool() && $ctrl.deparmentsResolved() &&!$ctrl.hasDepartments()">
                    Δεν έχει εισαχθεί κανένα τμήμα
                </div>
            </div>

            <img src="../../../images/loader.png" class="center-block loader-medium" ng-hide="!$ctrl.hasActiveSchool() || $ctrl.deparmentsResolved()"/>

            <table class="table" ng-if="$ctrl.showDepartments()">
                <tbody>
                    <tr class="clickable" ng-repeat="department in $ctrl.overviewCtrl.departments" focus-and-select department-control="department" departments="$ctrl.overviewCtrl.departments"
                        ng-click="$ctrl.setActiveDepartment(department)" ng-class="{'active': $ctrl.isActiveDepartment(department)}">
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
